{% extends "base.html"%}
{% load static %}

{% block content %}
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Category</th>
            <th scope="col">Price</th>
            <th scope="col">Image</th>
        </tr>
    </thead>
    <thead>
        {% for product in products %}
        <tr>
            <td>{{ product.name }}</td>
            <td>{{ product.category }}</td>
            <td>£{{ product.price }}</td>
            <td>{{ product.image }}</td>
        </tr>
        {% endfor %}
    </thead>
</table>

{% endblock %}